.b-tree {

  ul,
  li {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    list-style: none;
    position: relative;
  }

  ul {
    margin: 0 0 0 20px;
  }

  > li:not(:only-child),
  li li {
    position: relative;
    padding: .2em 0 0 1.2em;
  }

  li:not(:last-child) {
    border-left: 1px solid gray;
  }

  li li::before,
  > li:not(:only-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: 20px;
    border-bottom: 1px solid gray;
  }

  li:last-child::before {
    width: calc(1.1em - 1px);
    border-left: 1px solid gray;
  }
}
